# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Node
node_modules/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

# Database
*.db

# Cache
.pytest_cache/